h1 {
    font-size: 33px;
    font-family: cursive;
    text-align: center;
    padding: 39px;
    margin: 10px;
}

footer {
    clear: both;
    background-color: bisque;
    text-align: center;
    font-size: 16px;
    font-family: fantasy;
    height: 30px;
    line-height: 2;
}

#photo-template {
    width: 400px;
    height: 354px;
    position: relative;
    float: left;
    margin: 26px 20px;
    background: beige;
    padding: 11px 10px;
    text-align: center;
}
