select {
    margin-left: 684px;
}
h2 {
    padding: 12px;
    font-family: monospace;
    font-size: 21px;
    font-weight: bold;

}
p {
    padding: 14px 1px;
    font-family: monospace;
    font-size: 14px;
}
img {
    height: 228px;
    width: 340px;
}
